body{
    background-color:darkolivegreen;
}

header{
    background-color:crimson;
}
#p1{
    background-color:lavender;
}
h2{
    background-color:royalblue;
}
#p2{
    background-color:salmon;
}
ul{
    background-color:goldenrod;
}